:root {
  background-color: #555;
}

h1 {
  display: flex;
  justify-content: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
}

#titanic {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.sort,
.filter {
  display: flex;
  justify-content: center;
}

#dataDisplay {
  display: flex;
  justify-content: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}
/* CSS Variables for color */
/* Background color, opacity, width/hight, border-radius, border-width, color, style */
